/* 1) Import custom CSS BEFORE Tailwind layers */
@import "./styles/tokens.css";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Quicksand:wght@300..700&display=swap');


html[lang="ar"] body {
  font-family: "Cairo", sans-serif;
}

html[lang="en"] body {
  font-family: "Quicksand", sans-serif;
}

/* 2) Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3) Global styles */
body {
  @apply bg-core-darkBg text-core-textLight antialiased;
  margin: 0;
}
